body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('assets/wavy-lines.svg');
  background-color: #EEEEEE;
  background-size: cover;
  user-select: none;
}